{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Patient Registration</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Apni CSS file link karo -->
  <link rel="stylesheet" href="{% static 'css/patient_register.css' %}">
</head>

<body>

  <div class="form-container">
    <h2>Patient Registration</h2>
    {% if message %}
    <div class="alert alert-success">
      {{ message }}
    </div>
    {% endif %}

    {% if error %}
    <div class="alert alert-danger">
      {{ error }}
    </div>
    {% endif %}

    <form method="post" action="{% url 'register_api' %}">
      {% csrf_token %}

      <div class="mb-2">
        <label class="form-label">Username</label>
        <input type="text" class="form-control custom-input" name="username" placeholder="The username must be unique"
          required>
      </div>

      <div class="mb-2">
        <label class="form-label">name</label>
        <input type="text" class="form-control custom-input" name="name" placeholder="enter your full name" required>
      </div>

      <div class="mb-2">
        <label class="form-label">Email</label>
        <input type="email" class="form-control custom-input" name="email" placeholder="example@email.com" required>
      </div>

      <div class="mb-2">
        <label class="form-label">Phone</label>
        <input type="number" class="form-control custom-input" name="phone"  
         oninput="if(this.value.length > 10) this.value = this.value.slice(0, 10);" placeholder="Enter your age"
          required>
      </div>

      <div class="mb-2">
        <label class="form-label">Password</label>
        <input type="password" class="form-control custom-input" name="password"
          placeholder="Enter password " required>
      </div>

      <div class="mb-2">
        <label class="form-label">Confirm Password</label>
        <input type="password" class="form-control custom-input" name="confirm_password"
          placeholder="Enter password again" required>
      </div>

      <div class="mb-2">
        <label class="form-label">Age</label>
        <input type="number" class="form-control custom-input" name="age" min="0" max="999"
          oninput="if(this.value.length > 3) this.value = this.value.slice(0, 3);" placeholder="Enter your age"
          required>
      </div>

      <div class="mb-3">
        <label class="form-label">Gender</label>
        <select class="form-select custom-input" name="gender" required>
          <option value="">Select</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
        </select>
      </div>

      <div class="d-grid">
        <button type="submit" class="btn-register">Register</button>
      </div>
    </form>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>